.login-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 100%;
}
.login-bg {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/login-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.login-card {
    margin: 40px;
    padding: 40px;
    max-height: 450px;
    align-self: center;
}
.login-card-title {
  font-size: 1.25em;
  color: #676767;
  font-weight: 500;
}
.login-card-separator {
  border-bottom: 1px solid #b3b3b3;
  flex: 1;
  align-self: center;
  margin: 0px 20px;
  padding: 5px;
  color: #b3b3b3;
}
.login-card-separator-character {
 font-size: 1.75em;
 align-self: center;
 color: #b3b3b3;
}
.login-card-button {
  margin: 10px;
}