.login-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 100%;
}
.login-bg {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right,#667db6 ,#0082c8, #0082c8, #667db6), url('../../assets/imgs/login-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .8;
}
.login-card {
  margin: 50px;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.login-card-title {
  font-size: 1.5em;
  color: #676767;
}
.login-card-label {
  font-size: 1em;
  color: #676767;
  font-weight: bold;
}
.login-card-input {
  width: 100%;
  padding: 12px;
  font-size: 1em;
  border: 1.25px solid #b3b3b3;
  border-radius: 20px;
  margin: 10px auto;
  color: #676767;
}
.login-card-button {
  width: 100%;
  padding: 15px;
  border: none;
  font-size: 1em;
  border-radius: 20px;
  cursor: pointer;
  background-color: #b3b3b3;
  font-weight: bold;
  margin: 10px 0;
}
.login-card-button:hover{
  background-color: #636363;
  transition: 0.5s;
  color: #fff;
}

.form-row {
  flex: calc(100% - 20px);
  max-width: calc(100% - 20px);
  margin: 0 10px;
}