.login-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  height: 100%;
}
.login-bg {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/login-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.login-card {
    margin: 40px;
    padding: 40px;
    max-height: 450px;
    align-self: center;
}
.login-card-title {
  font-size: 1.25em;
  font-weight: 500;
}
.login-card-separator {
  border-bottom: 1px solid #b3b3b3;
  flex: 1;
  align-self: center;
  margin: 0px 20px;
  padding: 5px;
}
.login-card-separator-character {
 font-size: 1.75em;
 align-self: center;
 color: #b3b3b3;
}
.login-card-button {
  margin: 10px;
}

.common-spinner {
  display: inline-block;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 24px;
}
.common-spinner div {
  position: absolute;
  top: 12px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.common-spinner div:nth-child(1) {
  left: 6px;
  animation: common-spinner1 0.6s infinite;
}
.common-spinner div:nth-child(2) {
  left: 6px;
  animation: common-spinner2 0.6s infinite;
}
.common-spinner div:nth-child(3) {
  left: 26px;
  animation: common-spinner2 0.6s infinite;
}
.common-spinner div:nth-child(4) {
  left: 45px;
  animation: common-spinner3 0.6s infinite;
}
@keyframes common-spinner1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes common-spinner3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes common-spinner2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}
