
html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  font-size: 0.8em;
}

a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

p {
  margin: 10px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.full-height {
  height: 100%;
}

.form-row {
  flex: calc(100% - 20px);
  max-width: calc(100% - 20px);
  margin: 0 10px;
}

/* Colors */ 
.default-colored {
  color: #636363;
}
.blue-colored {
  color: #457fca;
}
.red-colored {
  color: #db2828;
}
.green-colored {
  color: #21ba45;
}
.yellow-colored {
  color: #eaae00;
}
